<div id="<%= dom_id reward %>">
    <span>Reward: <%= reward.name %> </span>
    <span>on <%= reward.date %></span>

  <% if action_name != "show" %>
    <%= link_to "Show this reward", user_reward_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
