<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl mb-8">Users</h1>
  </div>

  <div id="transactions" class="min-w-full">
    <table class="table-auto mb-6 border-collapse border border-slate-400">
      <thead>
        <tr class="bg-slate-200">
          <th class="border border-slate-400 px-4 py-2">Name</th>
          <th class="border border-slate-400 px-4 py-2">Country of origin</th>
          <th class="border border-slate-400 px-4 py-2">Birthday</th>
          <th class="border border-slate-400 px-4 py-2">Level</th>
          <th class="border border-slate-400 px-4 py-2">Points</th>
          <th class="border border-slate-400 px-4 py-2">Tier</th>
          <th class="border border-slate-400 px-4 py-2"># of purchases</th>
        </tr>
      </thead>
      <tbody>
        <%= render @users %>
      </body>
    </table>
  </div>
  <%= link_to 'All purchases', "/all_purchases", class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium" %>
</div>