<div id="transactions" class="min-w-full">
  <table class="table-auto mb-6 border-collapse border border-slate-400">
    <thead>
      <tr class="bg-slate-200">
        <th class="border border-slate-400 px-4 py-2">Date</th>
        <th class="border border-slate-400 px-4 py-2">User</th>
        <th class="border border-slate-400 px-4 py-2">Country of purchase</th>
        <th class="border border-slate-400 px-4 py-2">Amount</th>
      </tr>
    </thead>
      <%= render @purchases %>
  </table>
</div>
