<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl mb-8">Purchases</h1>
    <%= link_to 'New purchase', new_user_purchase_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <%= render 'table', :@purchases => @purchases_per_user %>
  <%= link_to 'Back to users', users_path, class: "rounded-lg py-3 px-5 bg-blue-600 inline-block text-white font-medium mt-3" %>
</div>
